@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
    /* font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0; */
}

body.show-nav {
    transform: translateX(200px);
}

nav {
    background-color: rgb(219, 219, 185);
    border-right: 2px solid rgb(red,green,blue, alpha);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
}

nav .logo {
    padding: 30px;
    text-align: center; 
}

nav .logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 2px solid rgb(226, 179, 248);
}

nav ul li:first-of-type {
    border-top: 2px solid rgb(226, 179, 248);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    /* color: rgb(red,green,blue, alpha); */
}

header {
    background-color: rgb(49, 48, 48);
    color: #fff;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    /* height: 100px; */
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 30px 0;
}

button,input[type=submit] {
    background-color: #be2e;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
}

.toggle {
    background-color: rgba(233, 211, 88, 0.933);
    position: absolute;
    top: 20px;
    left: 20px;
}

.container {
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
}

.modal-container {
    background-color: rgba(255, 0, 85, 0.5);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(104, 103, 103, 0.5);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translateY(-50%, -50%);
    max-width: 100%;
}

.modal-header {
    background: #000;
    color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.modal-header h3 {
    margin: 0;
    border-bottom: 1px solid #000;
}

.modal-content {
    padding: 20px;
}

modal-form div {
    margin-bottom: 20px;
}